<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/payment.css">
    <title>Document</title>
</head>
<body>
    <!-- start top-navbar -->
    <nav>
        <!-- <input type="checkbox" id="checkTopNav">
        <label id="checkNavBtn" for="checkTopNav"><img src="../icons/iconMenu.png" alt="" width="24px"></label> -->
        <div id="topNav">
            <div class="logo"></div>
            <ul>
                <li class="categorie">
                    <a href="#">
                        <div class="categorieTitle">
                            <div class="categorieIcon">
                            <span></span>
                            <span></span>
                            <span></span>
                            </div>
                            <p>Catégories</p> 
                        </div>
                    </a>
                    <ul class="categorieDropdown">
                        <li><a href="#">Catégorie-1</a></li>
                        <li><a href="#">Catégorie-2</a></li>
                        <li><a href="#">Catégorie-3</a></li>
                    </ul>
                </li>
                <li class="search">
                    <form action="/action_page.php">
                        <input type="text" placeholder="Cherchez un produit ou une marque" name="search">
                        <button type="submit">Submit</button>
                    </form> 
                </li>
                <li><a href="#">
                        <div class="panierIcon"></div>
                        <span>Panier</span>
                    </a> 
                </li>
                <li><a href="#">
                        <div class="connextionIcon"></div>
                        <span>Se connecter</span>
                    </a> 
                </li>
            </ul>
        </div>
    </nav>
    <!-- end top-navbar -->
    
    <section>
    <!-- create your code here -->
    </section>
    
    <!-- start footer -->
    <footer>
        <div class="topDiv">

        </div>
        <div class="bottomDiv">

        </div>

    </footer>
    <!-- end footer -->
</body>
</html>