
@import "_variables";

// #checkTopNav{
//     display: none;
//     @media #{$maxMobile}{
//         &:checked ~#topNav {
//         display:block;
//         }
//         &:checked ~#checkNavBtn {
//             background-color: rgba($color: #000000, $alpha: .0);
//             border-bottom: 3px solid rgba($color: #000000, $alpha: .0);

//         }
//     }
// }
// #checkNavBtn{
//     display: none;
//     @media #{$maxMobile}{
//         display: block;
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         // height: 48px;
//         color: $thirdColor;
//         background-color: white;
//         border-bottom: 3px solid $mainColor;
//         z-index: 50;
//     }
//     img{
//         margin: 24px 0 24px 24px;
//     }
// }

#topNav{
    width: 100%;
    height: 56px;
    display: flex;    
    position: fixed; 
    top: 0;
    background-color: $mainBgColor;  
    box-shadow: 0px 0px 8px 0px black;
    justify-content: space-between;
    z-index: 1;
    // @media #{$maxMobile}{
    //     display: none;
    //     text-align: center;
    //     padding: 72px 0 32px 0;
    //     width: 70%;
    //     border-right: 3px solid $mainColor;
    //     background-color: rgba($color: #000000, $alpha: .9);
    // }
    .logo{
        width: 120px;
        height: 36px;
        margin: auto 32px;
        background-image: url(../imgs/logo.png);
        background-size: cover;
        background-repeat: no-repeat;
       @media #{$maxMobile} {
        }
    }
    ul{ 
        width: 80%;
        list-style: none;
        color: $mainColor;    
        display: flex;
        // padding: 8px 0;
        margin: 8px 0;
        @media #{$maxMobile} {
            display: block;
            padding: 32px 0 0 0;

        }
        li{
            margin:auto 5% 0 0;
            a{
                text-decoration: none;
                font-family: $FontFamily3;
                color: $secondColor;
                font-weight: bold;
            }
            a:hover{
                color: $mainColor;
            }
            @media #{$maxMobile} {
                margin: 0 0 24px 0;
                
            }
        }
        .categorie{
            width: 220px;
            .categorieTitle{
                border: 1px solid gray;
                display: flex;  
                padding: 8px;
                .categorieIcon{
                    margin: auto 4px;
                    span{
                        background-color: $mainColor;
                        border: 2px solid $mainBgColor;
                        height: 4px;
                        width: 24px;
                        display: block;
                    }
                }
                p{
                    margin:auto 8px;
                }
            }
        
            ul{
                display: block;
                visibility: hidden;
            }
        }
        .search{
            width: 30%;
            border: 1px solid gray;
            padding: 4px;
            form{
                width: 100%;
                input{
                    width: 80%;
                    padding: 8px 24px 8px 8px;
                    margin: 0 24px 0 0;
                    border: none;
                }
                input:focus{
                    outline: none;
                }
            }
        }

    }
    button{
        border: white;
        background-color: black;
        &:hover{
            color: $thirdColor;
            background-color: $mainColor;
            border: none;
        }
    }
}
.sideNav{
    display: flex;
    position: fixed;
    margin-top: 200px;
    z-index: 10;
    .themeContainer{
        height: max-content;
        width: max-content;
        background-color: $thirdColor;
        border: 2px solid white;
        border-left: none;
        border-radius: 4px;
        padding: 8px;
        display: none;
        .theme{
            display: flex;
            height:max-content;
            width: max-content;
            padding: 8px;
            .color{
                height: 32px;
                width: 120px;
                border: 2px solid $mainColor;
                border-radius: 4px;
                margin-right: 4px;
            }
            .del{
                height: 32px;
                width: 32px;
                background-color: $thirdColor;
                border: 2px solid $mainColor;
                border-radius: 4px;
                .moins{
                    height: 4px;
                    width: 12px;                    
                    background-color: white;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 30%;
                }
            }
            input{
                margin-right: 4px;
                font-size: $mainFontSize;
                border: 2px solid $mainColor;
            }
            .add{
                height: 32px;
                width: 32px;
                background-color: $thirdColor;
                border: 2px solid $mainColor;
                border-radius: 4px;
                
            }
            .plus1{
                height: 4px;
                width: 12px;                    
                background-color: white;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                left: 30%;
            }
            .plus2{
                height: 12px;
                width: 4px;                    
                background-color: white;
                position: relative;
                top: 37%;
                transform: translateY(-50%);
                left: 42.5%;
            }
            #color1{
                background-color: #16a085;
            }
            #color2{
                background-color: #2980b9;
            }
            #color3{
                background-color: #c0392b;
            }#color4{
                background-color: #f39c12;
            }
        }

    }
    .clickable{
        height: 120px;
        width: 8px;
        background-color: white;
        border: 2px solid $thirdColor;
        border-left: none;
        border-radius: 4px;
        &:hover{
            width: 24px;
        }
    }
    .color{
        height: 32px;
        width: 130px;
    }
}