// colors
$mainColor:#0992FB;
$bodyBgColor:#EFF3F8;
$mainBgColor:#FCFBFB;
$secondColor:#243746;
$thirdColor:#132B3D;

// fonts
$fontFamily: sans-serif;
$fontFamily2:  sans-serif;
$FontFamily3: sans-serif;
$mainFontSize: 16px;

// media query
$maxMobile:"(max-width: 767px)";
$minSmall:"(min-width: 768px)";
$minMedium:"(min-width: 991px)";
$minLarge:"(min-width: 1200px)";


