body{
    margin: 0;
    padding: 0;
    font-family: "montserrat" ,sans-serif;
    color: black;
}
.middle{
    position: absolute;
    top:50%;
    width: 100%;
    transform: translate(-50%);
}
.counting-sec{
    padding: 40px 0;
    width: 90%;
    margin-left: 907px;
    margin-top: -135px;
}
.inner-width{
    max-width: 1200px;
    margin: auto;
    display: flex;
}
.col{
    flex:1;
    text-align: center;
    padding: 20px;
    color: black;
    text-transform: uppercase;
}
.col i{
    font-size: 40px;
    color: #333;
}
.num{
    font-size: 40px;
    margin: 20px 0;
}